a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-box {
  display: grid;
  align-items: center;
  justify-content: center;
}

input {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  outline: none;
  width: 300px;
  height: 30px;
  border-radius: 30px;
}
h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darksalmon;
}
h2 {
  margin-bottom: 30px;
  color: darksalmon;
}
.sign-up-button {
  margin-top: 10px;
  font-size: 20px;
  color: aliceblue;
  background-color: darksalmon;
  outline: none;
  height: 50px;
  border-radius: 50px;
}
